/*
Author: Andrew Perel
Date: 3/29/2024
File Name: styles08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
  font-family: sans-serif;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
  color: #792101;
}


table {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid #fd4d0c;
}

table, tr, th, td {
  border-collapse: collapse;
  padding: 2%;
}

caption {
  font-size: 2em;
  padding: 2%;
  margin-top: 2%;
  color: #792101;
  font-weight: bold;
}

th, td {
  border: 1px solid #a22c02;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
    background-color: #fe9772;
}

th {
  background-color: #991f00;
  color: #fff;
}
